* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #e4934c;
  border: 1px solid #0a523e;
}
h1 {
  padding: 20px;
  font-family: "MedievalSharp";
}
.center {
  text-align: center;
}
#image {
  margin: 10px auto;
  border: 10px solid goldenrod;
  max-width: 100%;
  display: block;
  height: auto;
}
h3 {
  font-size: 16px;
  padding: 20px;
  margin: 10px;
  font-family: "Aclonica";
}
h1 {
  background-color: #7c142c;
}
hr {
  border-color: #7c142c;
}
ul {
  padding: 30px;
  color: #7c142c;
  font-weight: bold;
}
.feats {
  margin-top: 20px;
}
#img-caption {
  font-family: "Aldrich";
  margin-bottom: 20px;
}
a {
  color: #0a523e;
}
article {
  font-size: 22px;
  font-family: "Philosopher";
  color: #9c6b65;
}
